// Styling for the masthead
header.masthead {
  background-image: linear-gradient(to bottom right, $moreBlue, white 42%);
  text-align: center;
  color: black;
  //background-image: url('../img/hero.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
  @include background-mobile;
  .nav-offset {
    margin-top: 4em;
  }
  .image {
    width: 100%;
    float: right;
    object-fit: cover;
  }
  .intro-text {
    @include heading-font;
    margin-top: 1em;
    margin: auto 0;
    .intro-title {
      font-size: 2.5em;
      margin-bottom: 0.25em;
      margin-top: 0.25em;
      
    }
    .intro-lead-in {
      font-size: 1.8em;
    }
    .intro-heading {
      margin-top: 0.5em;
      font-size: 1.8em;
    }
  }
  .subheading {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: -12px;
    margin-right: -12px;
  }
  .cta {
    font-size: 1.2em;
  }
}

/*
@media(max-width:425px) {
  header.masthead {
    background-size: auto 90%;
    @include background-mini;
    .intro-text {
      margin-top: 25px;
      padding-top: 250px;
      padding-bottom: 100px;
      .intro-title {
        margin-bottom: 16px;
      }
      .intro-lead-in {
        margin-bottom: 16px;
      }
    }
  }
}
*/

/* 
  @media(min-width:768px) {
  header.masthead {
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 100% auto;
    @include background-desktop;
    .intro-text {
      padding-top: 150px;
      padding-bottom: 70px;
      padding-left: 45%;
      .intro-title {
        font-size: 48px;
        font-style: italic;
        @include heading-font;
        margin-bottom: 25px;
      }
      .intro-lead-in {
        font-size: 36px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 28px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 40px;
        @include heading-font;
      }
    }
  }
}
@media(min-width:768px) and (max-width: 992px) {
  header.masthead {
    //KA background-position: 30% top;
    .intro-text {
      padding-top: 200px;
      padding-bottom: 20px;
      padding-left: 35%;
      .intro-title {
        margin-bottom: 10px;
      }
      .intro-lead-in {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 15px;
      }
      .intro-heading {
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
}
*/
