// Styling for the masthead
header.masthead {
  text-align: center;
  color: black;
  background-image: url('../img/mobile-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
  @include background-mobile;
  .intro-text {
    margin-top: 50px;
    padding-top: 350px;
    padding-bottom: 100px;
    .intro-title {
      font-size: 36px;
      font-style: italic;
      @include heading-font;
      margin-bottom: 25px;
    }
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 22px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: auto 100%;
    @include background-desktop;
    .intro-text {
      padding-top: 150px;
      padding-bottom: 70px;
      padding-left: 45%;
      .intro-title {
        font-size: 48px;
        font-style: italic;
        @include heading-font;
        margin-bottom: 25px;
      }
      .intro-lead-in {
        font-size: 36px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 28px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 40px;
        @include heading-font;
      }
    }
  }
}
