---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ site.data.home.intro.lead-in }}</div>
          <div class="intro-heading">{{ site.data.home.intro.heading }}</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#features">{{ site.data.home.intro.btn }}</a>
        </div>
      </div>
    </header>

    <!-- Features -->
    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.features.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.features.subheading }}</h3>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        {%- for service in site.data.home.features.feature -%}
        {% assign ws = '' %}
        <div{% cycle ' class="row"', ' class="row reverse"' %}> 
          <div class="col-md-6 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ service.icon }} fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-md-6">
            <h4 class="service-heading">{{ service.heading }}</h4>
            <p class="text-muted">{{ service.text }}</p>
          </div>
        </div>
        {%- endfor -%}
        {% assign ws = '' %}
      </div>
    </section>


    <!-- Social Proof -->
    <section id="testimonial" class="testimonial">
      <div class="container">
	<div class="row testimonial-block">
	  <div class="col-md-4 square-image "><img src="{{ site.data.home.testimonial.image }}" alt="{{ site.data.home.testimonial.alt-text }}"></div>
	  <blockquote class="col-md-8">
	    <p class="">{{ site.data.home.testimonial.text }}</p>
	    <p class="author">{{ site.data.home.testimonial.credentials }}</p>
	  </blockquote> 
	</div>	
      </div>
    </section>

    <!-- CTA -->

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.about.heading }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="">{{ site.data.home.about.text }}<p>
          </div>
        </div>
        <div class="row">
          <div class="about-image text-center">
            <img src="{{ site.data.home.about.image }}" alt="{{ site.data.home.about.alt-text }}">
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.contact.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.contact.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="{{ site.data.home.contact.name }}" required="required" data-validation-required-message="{{ site.data.home.contact.name-required }}">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="{{ site.data.home.contact.email }}" required="required" data-validation-required-message="{{ site.data.home.contact.email-required }}">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="{{ site.data.home.contact.phone }}" required="required" data-validation-required-message="{{ site.data.home.contact.phone-required }}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="{{ site.data.home.contact.message }}" required="required" data-validation-required-message="{{ site.data.home.contact.message-required }}"></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">{{ site.data.home.contact.btn }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
